<div class="body"></div>
<div class="grad">
</div>
<div class="header">
  <div>ANTS<br><span>TOURSIM</span></div>
</div>
<br>
<div class="login">
  <h1 style="color:orchid;">Login</h1>
  <input type="text" ng-model="Email" placeholder="user email" name="user"><br>
  <input type="password" ng-model="Password" placeholder="password" name="password"><br><br>
  <input type="submit" ng-click="login()" name="login" class="btn btn-success" value="Login" />
  <br>
  <br>
  <span style="color:tomato;">Didn't have a account?</span>
  <!-- Link to be put -->
  <a href="">Sign up</a>
</div>